header {
	color: blue;
}

nav ul{
	overflow: hidden;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
}

nav ul li {
	float: left;
	/*margin-right: 10px;*/
}

nav ul li a {
	display: inline-block;
	color: #fff;
	background-color: lightskyblue;
	font-weight: bold;
	text-decoration: none;
	padding: 5px 20px;
}

nav ul li a:hover {
	color: #000;
	background-color: mediumaquamarine;
}

.container{
	height: 200px;
	/*border-style: solid;*/
	position: relative;
}

.card {
	position: absolute;
	width: 100%;
	height: 100%;
	transition: transform 1s;
	transform-style: preserve-3d;
}

.card div {
	position: absolute;
	height: 80%;
	width: 50%;
	font-size: 200%;
	text-align:center;
	border: 1px 1px 1px 1px;
	border-style:solid;
	border-radius: 25px;
	top: 10%;
	left: 25%;
	display: table;
	backface-visibility: hidden;
}


.card .cardQuestion {
	background: lightskyblue;
}
.card .cardAnswer {
	background: mediumaquamarine;
	transform: rotateY(180deg);
}

.card.flipped {
	transform: rotateY(180deg);
}

#cardText, #cardAnswerText {
	display:table-cell;
	vertical-align: middle;
}

#buttonTable {
	margin: auto;
}

.cardButtons {
	font-size: 1.2em;
}
